# This is for examples of environment variables

# This is the environment that is being run
NODE_ENV=development|production

# This is the port number that the server is running on
PORT=1234

# This is the secret key for encryption
SECRET_KEY=abcd1234

# This is the URL to the frontend web application
PROD_URL=https://www.exam.ple