.get-secret-form {
    background-color: hsl(174, 69%, 43%);
    color: hsl(174, 69%, 98%);
}

.get-secret-back-link {
    color: white;
    margin-bottom: 1rem;
}

.get-secret-id {
    color: hsl(174, 100%, 35%);
    background-color: hsl(174, 89%, 83%);

    width: inherit;

    word-wrap: break-word;
    
    padding: 0.25rem 1.5rem;
    margin: 0.25rem 1rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;

    font-size: small;
}
